* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: lightgrey;
}

:root {
  --toggle-switch-bg: #232428;
  --toggle-border: #232428;
  --toggle-bg: #fff;
}

.toggle-wrap {
  height: 4rem;
  width: 9rem;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.toggle-input {
  display: none;
}

.toggle-switch {
  height: 100%;
  width: 100%;
  border: 3px solid var(--toggle-border);
  border-radius: 2rem;
  position: relative;
  cursor: pointer;
  background-color: var(--toggle-bg);
}

.toggle-switch::before {
  position: absolute;
  content: "";
  width: 3.2rem;
  height: 3.2rem;
  background-color: var(--toggle-switch-bg);
  top: 7%;
  left: 4%;
  border-radius: 50%;
  transition: left ease-in-out 0.5s;
}

.toggle-input:checked + .toggle-switch::before {
  left: 59%;
}
